*{
    
    margin:0;
    padding:0;
    color:black;
    height: 100%;
    text-align: center;
}
html{
    height:100%;
}
body{
    height:100%;
    display:grid;
   place-items:center;
}
.frame{
    width:35%;
    height:70%;
    padding: 2%;
    background-color: grey;
}
.display{
    height:20%;
    margin-bottom: 4%;
    background-color: black;
}
.controls{
    height:72%;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-top: 2%;
    background-color: white;
}
.btn{
    border:solid black;
    flex-basis: 20%;
}
.small{
    background-color: cadetblue;
    height:15%;
    width:15%;
}
.num{
    display: grid;
    place-content: center;
    cursor: pointer;
}
#output{
    color:white;
    overflow:hidden;
    text-align: right;
}
@media screen and (max-width:850px)
{
    .frame{
        width:90%;
       
    }
    
}